@page "/"

<h1>Hello, world!</h1>
<button @onclick="Click" disabled="@IsLoading">
    @(IsLoading ? "Загрузка..." : "cccc")
</button>
@if (!string.IsNullOrEmpty(Message))
{
    <div class="toast-message @MessageClass">@Message</div>
}
@if (IsLoading)
{
        <div class="overlay">
            <div class="loader"></div>
        </div>
}